SoundFile
torchaudio
munch
torch
pydub
pyyaml
librosa
gruut
nltk
matplotlib
accelerate
wandb
mlflow
transformers
einops
einops-exts
tqdm
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git
